:root {
    --primary-color: darkblue;
    --text-light: white;
    --border-color: black;
    --shadow-color: gray;
    --aside-background: #eee;
    --aside-text-color: #333;

    --standard-padding: 10px;
    --link-padding: 20px;
    --small-padding: 2px;

    --image-width: 150px;

}

nav {
    background-color: var(--primary-color);
    padding: var(--standard-padding);
}

nav a {
    color: var(--text-light);
    display: block;
    padding: var(--link-padding);
}

h1 {
    color: var(--primary-color);

}

img {
    width: var(--image-width);
    height: auto;
    border: 1px solid var(--border-color);
    padding: var(--small-padding);
    box-shadow: 0 0 30px var(--shadow-color);

}

p {
    padding: 0px;
}

main {
    max-width: 840px;
}

main img {
    width: var(--image-width);
    height: auto;

}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb (0 0 0/0.2);
    /* 1 */
    padding: 1rem;
    background-color: var(--aside-background);
    color: var(--aside-text-color);
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 1px solid var(--border-color);
    text-align: center;
}